include mixin
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title The Libbun Programming Language
    +css('css/bootstrap.css')
    +css('css/styles.css')
    style(type='text/css', media='screen').
      #peg-editor {
        height: 350px;
      }
      #bun-editor {
        height: 350px;
      }
      #output-viewer {
        height: 300px;
      }
  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/', style='color: #000;') The Libbun Playground
    .row(style='padding-bottom: 3px; padding-top: 18px;')
      .form-inline
        | Peg:&nbsp;
        select.form-control#peg-selector
        | &nbsp;
        | Input:&nbsp;
        select.form-control#sample-selector
        | &nbsp;
        | Output:&nbsp;
        select.form-control#generator-selector
        | &nbsp;
        a.btn.btn-primary#translate(href='#', role='button') Translate
        | &nbsp;
        a.btn.btn-default#share(href='#', role='button') Share
        | &nbsp;
        input.form-control#url-display(type='text', readonly="readonly", style="display: none; cursor:default;", size='38')
    .row
      .panel-group#accordion
        .panel.panel-default
            .panel-heading
              h4.panel-title
                a#peg-source-toggle(data-toggle="collapse" data-parent="#accordion" href="#collapse-peg") Peg Source &nbsp;
                  span.glyphicon.glyphicon-chevron-down
            .panel-collapse.collapse#collapse-peg
              #peg-editor
                | //Peg
        .panel.panel-default
            .panel-heading
              h4.panel-title
                a#input-source-toggle(data-toggle="collapse" data-parent="#accordion" href="#collapse-bun") Input Source &nbsp;
                  span.glyphicon.glyphicon-chevron-up
            .panel-collapse.collapse.in#collapse-bun
              #bun-editor
                | export function main() {
                | &#9;assert(true);
                | &#9;println("#Hello,world");
                | }
        .panel.panel-default
            .panel-heading
              h4.panel-title
                a(href='#') Output
            .panel-collapse
              #output-viewer
                | //Output
    .script
      +js('js/jquery.js')
      +js('js/bootstrap.min.js')
      +js('js/ace/ace.js')
      +js('js/config.js')
      +js('js/lib.js')
      +js('js/editor.js')
