include mixin
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title The Libbun Programming Language
    +css('css/bootstrap.css')
    +css('css/styles.css')
    style(type='text/css', media='screen').
      #bun-editor {
        height: 350px;
        border: 1px solid black;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      #output-viewer {
        height: 300px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/', style='color: #000;') The Libbun Playground
    .row(style='padding-bottom: 3px; padding-top: 18px;')
      .form-inline
        | Sample:&nbsp;
        select.form-control#sample-selector
        | &nbsp;
        | Compile into:&nbsp;
        select.form-control#generator-selector
        | &nbsp;
        a.btn.btn-primary#compile(href='#', role='button') Compile
        | &nbsp;
        a.btn.btn-default#share(href='#', role='button') Share
        | &nbsp;
        input.form-control#url-display(type='text', readonly="readonly", style="display: none; cursor:default;", size='38')
    .row
      #bun-editor
        | export function main() {
        | &#9;assert(true);
        | &#9;println("#Hello,world");
        | }
      #output-viewer
        | //Output
    .script
      +js('js/jquery.js')
      +js('js/bootstrap.min.js')
      +js('js/ace/ace.js')
      +js('js/config.js')
      +js('js/lib.js')
      +js('js/editor.js')
