include mixin
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title The Libbun Parser Library
    +css('css/bootstrap.css')
    +css('css/styles.css')
    style(type='text/css', media='screen').
      #bun-editor {
        height: 230px;
        border: 1px solid black;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      #output-viewer {
        height: 150px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#', style='color: #000;') The Libbun Parser Library
    .container(style='max-width: 1280px; min-width: 780px; padding-top: 30px;')
      .row
        .col-md-6.col-xs-6.col-sm-6.col-lg-6
          h3 Overview
          p Libbun is an open source parser and generator library that makes it easy to translate your program into another language.
          p
            a.btn.btn-primary(href='https://github.com/libbun/libbun/archive/master.zip') Download Libbun
            | &nbsp;
            a.btn.btn-default(href='https://github.com/libbun/libbun') Get Source Code
          h3 Documents
          p
            a(href='#') BunLanguage Grammar
          p
            a(href='#') How to develop a new generator for your favorite language
          p
            a(href='#') Libbun API Reference
        .col-md-6.col-xs-6.col-sm-6.col-lg-6
          h3 Try Libbun
          p
            .form-inline(style='font-size: 16px;')
              | Sample:&nbsp;
              select.form-control#sample-selector
              | &nbsp;
              | into:&nbsp;
              select.form-control#generator-selector
              | &nbsp;
              a.btn.btn-primary#Translate(href='#', role='button') Translate
              | &nbsp;
              a.btn.btn-default#fullscreen(href='#')
                span.glyphicon.glyphicon-resize-full
          p
            #bun-editor
              | // You can edit this code!
              | function foo&lpar;n: int&rpar; &lcub;
              | &#9;var x &equals; &quot;hello, world&quot;&semi;
              | &#9;return x&semi;
              | &rcub;
            #output-viewer
              | // Generated output
          br
    //a(href="https://github.com/libbun/libbun")
      img(style="position: absolute; top: 0; right: 0; border: 0; z-index: 1031;", src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
    .script
      +js('js/jquery.js')
      +js('js/bootstrap.min.js')
      +js('js/ace/ace.js')
      +js('js/config.js')
      +js('js/lib.js')
      +js('js/index.js')
